.n-title {
  width: 29px;
  height: 28px;
  background: url(https://g.newsweek.com/www/images/logo-n1.svg) center/contain no-repeat #f72210;
  margin-left: 100px;
  text-align: center;
  flex: none;
}

.mag {
  margin-left: 20%;
  text-align: center;
  display: block;
}

.h2 {
  margin-left: 20%;
}

.maga {
  display: flex;
  margin-left: 40%;
}

.mage {
  font-size: 1.4rem;
  color: black;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  font-weight: 700;
  line-height: 1.2;
}

.maga ul {
  display: inline-flex;
  align-items: center;
}

.mag li {
  margin-left: 10px;
}

/*  sub */

.subscription {
  padding-left: 15px;
  padding-right: 15px;
  background-color: #fff;
}

.subscription section {
  background-color: #fff;
}

.subscription h2 {
  color: #f72210;
}

.subscription article {
  text-align: center;
}

.subscription,
.subscribe article {
  /* padding: 1.7rem 0; */
  margin-top: 1.5rem;
  padding-right: 2px;
  background-color: #f4f5f6;
}

.subscription .sign-up,
.subscribe {
  padding-bottom: 1.25rem;
}

.subscription h3 {
  font-size: 1.25rem;
}

.subscription p {
  margin-top: 1rem;
  font-size: 0.9375rem;
}

.subscription a {
  display: inline-flex;
  align-items: center;
  padding: 0.4rem 0.6rem;
  font-size: 1.125rem;
  font-weight: 700;
  color: #fff;
  background-color: #f72210;
}

.subscription a .icon {
  margin-left: 0.75rem;
  width: 8px;
  height: 14px;
}

.sign-up figure img {
  height: 160px;
  object-fit: cover;
}

.sign-up header {
  padding: 0 1rem 1.2rem 1rem;
  border: 1px solid #d9d9d9;
}

.group-images {
  display: flex;
  justify-content: center;
  position: relative;
}

.group-images figure:first-of-type {
  transform: translateX(44px);
}

.group-images figure:last-of-type {
  transform: translate(-44px, 12px);
}

@media (min-width: 768px) {
  .subscription header {
    padding: 4rem 4rem 0 1rem;
  }

  .sign-up header {
    padding: 4rem 1rem 1.25rem 1rem;
    border: 1px solid #d9d9d9;
    margin-top: 1.5rem;
  }

  .sign-up figure img {
    height: 25rem;
    width: 191px;
  }

  .flex-sm {
    display: inline-flex;
  }

  .flex-sm figure {
    height: 26rem;
  }

  .flex-sm h3 {
    font-size: 20px;
  }

  .flex-sm p {
    font-size: 20px;
    line-height: 2rem;
  }

  .flex-sn {
    display: inline-flex;
  }

  .flex-sn header {
    width: 100%;
  }

  .flex-sn figure {
    height: 22rem;
  }

  .flex-sn p {
    font-size: 20px;
    line-height: 1rem;
  }
}
