/* main */

h1 {
  font-size: 1.375rem;
  font-weight: 700;
}

section p {
  font-size: 0.9375rem;
  font-family: Arial, Helvetica, sans-serif;
}

.top-story-section p {
  font-size: 0.8125rem;
}

.rounded {
  font-size: 7rem;
  height: 3rem;
  text-align: center;
}

section h2 {
  font-size: 1rem;
  font-weight: 700;
  color: #999;
}

section h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

figure {
  position: relative;
}

figure img {
  width: 100%;
}

.category {
  position: absolute;
  padding: 0.2rem 1rem;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
}

header a,
article a,
.login a,
.main-nav a,
.left-side a {
  text-decoration: none;
  color: inherit;
}

.category a {
  font-size: 1.0625rem;
  font-weight: 700;
  color: #f72210;
}

/* more-stories-section */

.more-stories-section figure {
  margin: 0;
}

.more-stories-section article {
  padding-top: 0.7rem;
  border-top: 1px solid #ddd;
}

.more-stories-section img {
  width: 135px;
  height: 106px;
  margin-right: 1rem;
  padding-bottom: 1rem;
  float: left;
}

.more-stories-section h3 {
  font-size: 1.0625rem;
}

.more-stories-section p {
  font-size: 0.8125rem;
}

article :hover {
  text-decoration-color: red;
  color: inherit;
}

nav li:hover {
  text-decoration-color: red;
}

@media (min-width: 540px) {
  .more-stories-section img {
    float: none;
  }

  .more-stories-section article {
    display: flex;
  }
}

.mini-category a {
  padding: 0.2rem 0.4rem;
  font-size: 0.8125rem;
  background: #c2d4d7;
}

@media (min-width: 768px) {
  body {
    font-size: 15px;
    line-height: 20px;
  }

  h1 {
    font-size: 1.5rem;
  }

  .top-story-section p {
    font-size: 0.9375rem;
  }

  .more-stories-section p {
    font-size: 0.9375rem;
  }

  .culture-and-travel-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
  }

  .culture-and-travel-section h2 {
    grid-column: 1 / -1;
  }

  .sponsored-section article {
    max-width: 330px;
    margin-left: auto;
    margin-right: auto;
  }

  .sponsored-section h3,
  .featured-section h3 {
    font-size: 1.375rem;
  }

  .sponsored-section p,
  .featured-section p {
    font-size: 0.9375rem;
  }
}

.featured-section article {
  margin-bottom: 1.25rem;
}

.sponsored-section article {
  margin-bottom: 1.75rem;
}

.sponsored-section h3,
.featured-section h3 {
  font-size: 1.25rem;
}

.sponsored-section p,
.featured-section p {
  font-size: 0.8125rem;
}

.category.sponsored a {
  color: #3581f4;
}

.sponsored-section figure {
  margin: 0;
}

.sponsored-section p {
  margin: 0;
}

.sponsored-section header {
  padding: 1rem;
  border: 1px solid #e6e6e6;
}

.editor {
  box-sizing: border-box;
  border: 0 none;
  list-style: none outside none;
  margin: 0;
  outline: 0 none;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

@media (min-width: 487px) {
  .editor,
  .feature {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 787px) {
  .feat img {
    max-width: 200px;
  }

  .feat article {
    display: inline-flex;
  }

  .feat figure {
    margin-right: 30px;
  }

  .h3 {
    font-size: 22px;
    padding-left: 14px;
    float: right;
    font-weight: 700;
  }

  .h3:hover {
    text-decoration: underline;
    text-decoration-color: rgba(255, 68, 0, 0.967);
  }
}

@media (min-width: 999px) {
  .border {
    border: 1px solid black;
    font-weight: 700;
    color: gray;
  }

  .border a {
    text-decoration: none;
    color: inherit;
  }

  .border a:hover {
    color: red;
  }

  .trend {
    color: black;
  }

  .editor {
    box-sizing: border-box;
    border: 0 none;
    list-style: none outside none;
    margin: 0;
    outline: 0 none;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }

  .editor header {
    width: 250px;
    padding-bottom: 7px;
  }

  .editor h3 {
    width: 270px;
  }

  .flex1 {
    display: flex;
    flex-direction: column;
  }

  .flex1 img {
    height: 130px;
    width: 150px;
  }

  .flex1 article {
    display: inline-flex;
  }

  .flex1 h3,
  h4 {
    margin-left: 7px;
  }

  .mb-3 {
    border-bottom: 3px solid whitesmoke;
    padding-bottom: 10px;
  }

  .word-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
  }

  .word-grid img {
    height: 100%;
    width: 100%;
  }

  .word1 article {
    padding-left: 12px;
  }

  .word1 {
    display: inline-flex;
  }

  .feat img {
    width: 150px;
  }
}

@media (min-width: 768px) {
  .editor {
    box-sizing: border-box;
    border: 0 none;
    list-style: none outside none;
    margin: 0;
    outline: 0 none;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .editor header {
    width: 250px;
    padding-bottom: 7px;
  }

  .editor h3 {
    width: 270px;
  }

  .flex1 {
    display: flex;
    flex-direction: column;
  }

  .flex1 img {
    height: 130px;
    width: 150px;
  }

  .flex1 article {
    display: inline-flex;
  }

  .flex1 h3,
  h4 {
    margin-left: 7px;
  }

  .mb-3 {
    border-bottom: 3px solid whitesmoke;
    padding-bottom: 10px;
  }

  .word-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
  }

  .word-grid img {
    height: 100%;
    width: 100%;
  }

  .word1 article {
    padding-left: 12px;
  }

  .word1 {
    display: inline-flex;
  }

  .feat img {
    width: 150px;
  }
}
