body {
  background-color: #f4f5f6;
  font-family: 'Roboto Condensed', sans-serif;
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  max-width: 1310px;
}
/* main-header */

.main-header,
main,
.main-footer {
  background-color: #fff;
}
.main-header {
  margin-bottom: 2px;
  max-width: 100%;
}

.head-bar {
  min-height: 50px;
  background-color: rgb(247, 34, 16);
  color: #fff;
}

.head-bar .logo {
  margin-left: 1rem;
  display: block;
  align-self: center;
  fill: #fff;
}

.head-bar .logo svg {
  height: 20px;
}

.login a {
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 6px;
}

@media (min-width: 768px) {
  main {
    border-bottom: 1px solid #f4f5f6;
  }
}

@media (min-width: 992px) {
  .head-bar {
    position: relative;
    padding: 3.3rem 0.6rem 0.95rem 0.6rem;
  }

  .head-bar .logo {
    margin-left: initial;
    position: absolute;
    left: 50%;
    align-self: auto;
    transform: translateX(-50%);
    margin: 0 auto;
    width: 396px;
    height: 60px;
  }

  .head-bar .logo svg {
    height: auto;
  }
}

.login a {
  font-weight: 700;
  font-size: 0.875rem;
  color: #fff;
  text-decoration: none;
}

.auth a:first-of-type {
  padding-right: 0.2rem;
}

 .auth a:last-of-type {
  display: inline-flex;
  align-items: center;
  padding: 0.15rem 0.2rem;
  color: rgb(247, 34, 16);
  background-color: #fff;
}

.auth a:last-of-type .icon {
  margin-left: 1rem;
  width: 0.5rem;
  height: 0.875rem;
}

.menu-icon {
  margin: 0.2rem 0.5rem;
}

.menu-bar {
  width: 24px;
  height: 4px;
  background-color: #fb9a94;
}

.menu-bar:nth-child(2) {
  margin: 4px 0;
}

@media (min-width: 481px) {
  .login a {
    font-size: 1.125rem;
  }

  .menu-icon {
    margin: 0.9rem 1.5rem;
  }

  .menu-bar {
    width: 30px;
    height: 4px;
  }

  .auth a:first-of-type {
    padding-right: 0.7rem;
  }

  .auth a:last-of-type {
    padding: 0 0.8rem;
  }

  .auth .icon {
    display: block !important;
  }
}

.opinion-bar {
  display: block;
}

.opinion-bar img {
  width: auto;
  max-width: inherit;
  height: 63px;
}

.opinion-bar article {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.opinion-bar figure {
  margin-right: 7px;
}

.main-nav {
  position: relative;
}

.main-nav ul {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0.9375rem 0;
  white-space: nowrap;
}

.main-nav ul a {
  font-weight: 700;
  font-size: 1.1875rem;
  color: #000;
}

.main-nav ul li {
  flex-grow: 1;
  line-height: 1.2;
  border-left: 1px solid #d9d9d9;
  list-style-type: none;
}

.main-nav ul li:first-of-type {
  border: none;
}

.main-nav ul li:last-of-type {
  flex-grow: 0;
  margin-right: 5rem;
  border: none;
}

#search-input {
  width: 3.8rem;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
}

.icon.i-search {
  width: 1.25rem;
  height: 1.25rem;
}

.main-nav::after {
  position: absolute;
  right: 0;
  content: '';
  border-top: 0.8rem solid rgb(247, 34, 16);

}

/* main */

h1 {
  font-size: 1.375rem;
  font-weight: 700;
}

.top-story-section p {
  font-size: 0.8125rem;
}

/*magazine*/

.pad_top {
  padding-top: 5px;
}

.pad_bot {
  padding-bottom: 5px;
}

.font_size_20 {
  font-size: 22px;
}

.font_size_10 {
  font-size: 10px;
}

.font_wt_7 {
  font-weight: 800;
}

.color_red {
  color: red;
}

.bottom {
  bottom: 0;
}

.left {
  left: 0;
}

.bgred {
  background-color: red;
  color: white;
}

.txtred {
  color: red;
  padding: 5px 5px 5px 5px;

  font-weight: 800;
}

/* footer */

footer {
  background-color: white;
}

.pg-footer {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 20px;
  margin-right: 20px;
}

.footer-top {
  margin-top: 10px;
  border-bottom: gray solid 1px;
  padding-bottom: 8px;
}

.color_gray {
  color: gray;
}

.no_deco {
  text-decoration: none;
}

.font-fam {
  font-size: 12px;
  padding-bottom: 2px;
  padding-left: 3px;
}

.logo-link {
  width: 236px;
  height: 36px;
  padding-right: 10px;
}

.social-links li {
  display: inline;
<<<<<<< HEAD
=======
  padding-left: 15px;
>>>>>>> d07208e8313bb37af8c74f09a53c3a2870f76f83
}

.footer-bot {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
}

.line-hite {
  line-height: 30px;
}

.menu-list {
  padding-top: 10px;
  line-height: 30px;
}

.ed-list li {
  padding-right: 10px;
  padding-left: 10px;
}

.ed-list li:first-child {
  padding-left: 10px;
  border-left: none;
}

.menu-list li {
  padding-right: 10px;
  padding-left: 10px;
}

.menu-list li:first-child {
  padding-left: 0px;
}

@media only screen and (min-width: 768px) {
  .ed-list li {
    border-left: gray solid 1px;
  }

  .menu-list li {
    border-right: gray solid 1px;
  }
<<<<<<< HEAD
}
=======


}


/*category heading css*/
.cat-heading{
  color:#F72210;
  font-size: 22px;
  line-height: 22px;
  text-decoration: none;
}

.cat-heading:hover{
  text-decoration: none;
  color:#F72210;
}

.category-section h2{
  padding-bottom: 11px;
  padding-left: 20px;

}


.category-section h3{
  font-size: 22px;
  line-height: 22px;

}

.featured-slideshows-section h2{
  padding-bottom: 11px;
  padding-left: 20px;
}



>>>>>>> d07208e8313bb37af8c74f09a53c3a2870f76f83
